@using Model
@model Model.EvaluationTask

@{
    ViewData["Title"] = "Заявка на оценку № 0154";
}

@*<div class="row">
    <div class="col-12">
        <h3>Заявка № Number</h3> <h4>от DateApplication.ToString("d")</h4>
        <hr />
    </div>
    <!-- Form START -->
    <form>
        <div class="col-xxl-8 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                    <h4 class="mb-4 mt-0">Задание на оценку</h4>
                    <!-- First Name -->
					<div class="col-md-6">
						<label class="form-label">Тип стоимости</label>
						<select class="from-select" asp-for="Target" asp-items="Html.GetEnumSelectList(typeof(TargetType))"></select>
					</div>
					<!-- Last name -->
					<div class="col-md-6">
					
					</div>
					<!-- Phone number -->
					<div class="col-md-6">
						<label class="form-label" asp-for="IntendedUse"></label>
						<textarea rows="5" class="form-control" asp-for="IntendedUse"></textarea>
					</div>
                </div>
            </div>
        </div>
    </form>
</div>*@
<div class="row">
    <div class="col">
        <form method="post">
            <div class="btn-group" role="group">
                @foreach (var customer in Enum.GetValues(typeof(CustomerType)))
                {
                    <input type="radio" asp-for="Customers" id="@((int)customer)" class="btn-check" value="@customer" autocomplete="off">
                    @if (((int)customer) == 0)
                    {
                        <label asp-for="Customers" for="0" class="btn btn-outline-primary">Частное лицо</label>
                    }
                    else
                    {
                        <label asp-for="Customers" for="1" class="btn btn-outline-primary">Организация</label>
                    }
                }
                <br /><br />
                <input type="submit" name="name" value="Submit" asp-action="SelecteCustomer" />
            </div>


        </form>

    </div>
</div>


@*Вдруг понадобится*@

@*<input type="radio" class="btn-check" asp-for="Customers" id="Customer1" name="optradio" value="@((int)Model.Customers)" autocomplete="off" checked>
<label asp-for="Customers" for="Customer1" class="btn btn-outline-primary">Частное лицо</label>
<input type="radio" asp-for="Customers" id="Customer2" name="optradio" class="btn-check" value="1" autocomplete="off">
<label asp-for="Customers" for="Customer2" class="btn btn-outline-primary">Организация</label>*@


@*        <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Радио 1</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Радио 2</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Радио 3</label>
        </div>*@

@*        <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">


        </div>*@







