@model List<Model.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                @foreach (var item in Model)
                {
                    <h2>@item.Login</h2>
                    <ul>
                        <li>@item.Password</li>
                    </ul>
                }
            </li>
        </ul>
    </div>
</div>
